*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: rgb(11, 17, 74);
    height:100px;
    line-height: 100px;
    color:azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}
.choice{
    height: 150px;
    width:150px;
    border-radius: 50%;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.scores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 50px;
}
#user-score{
    font-weight: 600;
    font-size: xx-large;
}
#comp-score{
    font-weight: 600;
    font-size: xx-large;
}
.result{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg{
    height:70px;
    width: 250px;
    background-color: rgb(11, 17, 74);
    color:azure;
    font-size: larger;
    text-align: center;
    line-height: 70px;
    border-radius: 1rem;
}